/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ===========================
		BASE STYLES
=========================== */
html {
  font-size: 16px;
}

body {
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
  color: #222;
}

a {
     color: #e2e3ed;
     text-decoration: none;
}

h1, 
h2, 
h3, 
h4 {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}

h1 {
	font-size: 2.25em;
	margin: 50px 0;
}

h2 {
	font-size: 1.88em;
}

h3 {
	font-size: 1.13em;
}

h4 {
	font-size: 0.88em;
}

p {
	font-size: 0.88em;
	line-height: 1.4em;
}

img {
	width: 100%;
}

figure {
	margin: 0;
}

.content-wrapper {
	width: 90vw;
}

/* ===========================
BASE HEADER & FOOTER STYLES
=========================== */

header, 
footer {
	background: #202322;
}

/* ===========================
		HEADER STYLES
=========================== */

header {
	display: flex;
	justify-content: center;
}

header .content-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;	
}

header .logo {
	width: 60vw;
	display: flex;
	justify-content: center;
}

header .logo img{
	padding: 2vh 0;
	max-width: 220px;
}

.header-divider {
	border: 1px solid #3A3A3A;
	width: 100vw;
}

header nav {
	width: 160px;
	padding: 2vh 0;
}

header nav ul {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin: 0;
	padding: 0;	
}

header nav ul li {
	font-size: 1em;
	text-transform: uppercase;
	list-style-type: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}

header nav ul li a {
	color: #E2E3ED;
	text-decoration: none;
}

/* ===========================
		FOOTER STYLES
=========================== */

footer {
	display: flex;
	justify-content: center;
	align-items: column;
}

footer .content-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;	
}

footer p {
	font-style: normal;
}

footer .social {
	margin: 2vh 0 0 0;
}

footer .social-icons {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 200px;
	padding: 0;
}

footer .social-icons p {
	font-size: 1.2em;
	margin: 0;
	background-color: #527158;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}
footer .social-icons a {
	color: #fff;
	text-decoration: none;
}

.footer-content {
	color: #fff;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	padding: 5vh;
}

.copyright {
	color: #fff;	
}


/* ==========================================================================
   								MOBILE STYLES
   ========================================================================== */


/* ===========================
  	 		HOME PAGE
   =========================== */

/***** HERO AREA *****/

.hero-area {
	display: flex;
	justify-content: center;
	background: url('../img/forest-bridge.jpg') center no-repeat #333;
	background-size: cover;
	height: 500px;
}

.hero-area h1 {
	line-height: 1.2em;
	color: #E2E3ED;
}

/***** NEWSLETTER SUBSCRIBE *****/

aside {
	background: #527158;
	display: flex;
	justify-content: center;
	color: #E2E3ED;
}

aside .form-description {
	padding: 2vh 0 0 0;
}

aside .form {
	padding: 15px 0 50px 0;
}

input[type=text] {
	box-sizing: border-box;
	padding: 15px;
	margin: 0 0 15px 0;
	width: 100%;
	color: #9D9EA4;
	font-style: italic;
	font-size: 0.88em;
}

input[type=button] {
	width: 100%;
	text-transform: uppercase;
	background-color: #2a423a;
	border: none;
	color: #E2E3ED;
	padding: 15px 0;
	font-size: 1.13em;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
	font-weight: 500;
}

/***** FEATURES SECTION *****/

.features {
	display: flex;
	justify-content: center;
	background: url('../img/features-outdoors.jpg') center no-repeat #333;
	background-size: cover;
}

.features .content-wrapper {
	display: flex;
	justify-content: center;
	flex-flow: column;
	align-items: center;
	padding: 5vh 0 6vh 0;
	color: #E2E3ED;
}

.features-items article {
	margin: 5vh 0;
}

.features-items {
	display: flex;
	flex-flow: column;
	width: 240px;
	text-align: center;
}

.features i {
	font-size: 3.75em;
    margin-bottom: 40px;
	}
	
/***** REVIEWS SECTION *****/

.reviews {
	display: flex;
	justify-content: center;
	background: #2A423A;
	color: #E2E3ED;
	padding: 5vh 0;
}

/* ===========================
	  	 ABOUT PAGE
=========================== */

/***** MISSION SECTION *****/

.mission {
	display: flex;
	justify-content: center;
	background: #527158;
	color: #E2E3ED;
	padding: 40px 0;
}

/***** GOOGLE MAP *****/

.map figure {
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	overflow: hidden;
	position: relative;
}

.map iframe {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

/***** CONTACT SECTION *****/

.contact-section {
	color: #E2E3ED;
	background: #2A423A;
	display: flex;
	justify-content: center;
	padding: 40px 0;
}

.contact-content {
	font-style: normal;
}

address p {
	line-height: 1.2rem;
}

/* ===========================
   			FAQ PAGE
=========================== */

.faq {
	background: #527158;
	display: flex;
	justify-content: center;
	padding: 40px 0;
	color: #E2E3ED;
}

/* ==========================================================================
   								TABLET STYLES
   ========================================================================== */

@media only screen and (min-width: 768px) {

/* ================================
TABLET BASE, HEADER, FOOTER STYLES
================================ */
	
	.content-wrapper {
		width: 85vw;
	}
		
	h1 {
		font-size: 3em;
	}
	h3 {
		font-size: 1.5em;
	}
	
	header .content-wrapper {
		flex-flow: row ;	
	}
	
	header .logo {
		width: 60vw;
	}
	header .logo img {
		padding: 30px 0;
	}

	.header-divider {
		border: none;
	}
	
	header nav {
		width: 300px;
	}
	
	header nav ul li {
		font-weight: 700;
	}
	
	footer .content-wrapper {
		justify-content: flex-start;
	}
	.footer-content {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: flex-start;
		width: 65vw;
		padding: 60px 0 70px 0;
	}
	
	footer .social {
		margin: 0;
	}
	
	footer .social-icons ul {
		display: flex;
		width: 30vw;
		flex-flow: row wrap;
		justify-content: space-between;
		padding: 0;
	}
	

	
/* ================
   Helper classes
   ================ */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}
/* =============================
	HOME PAGE - TABLET STYLES
============================= */
	
	/***** HERO AREA *****/
	
	.hero-area {
		height: 600px;
	}
	
	/***** NEWSLETTER SUBSCRIBE *****/
	
	aside .content-wrapper {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		padding: 2vh 0;
	}
	
	aside p {
		margin: 0 ;
	}
	
	aside .form-description {
		width: 30vw;
		display: flex;
		align-items: flex-start;
		flex-flow: column;
		justify-content: flex-start;
		padding: 0;
	}
	
	aside .form {
		width: 35vw;
		display: flex;
		flex-flow: column;
		align-items: stretch;
		justify-content: flex-start;
		padding: 0 0 50px 0;
	}
	
	/***** FEATURES SECTION *****/
	
	.features-items {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		width: 55vw;
	}
	
	.features-items article {
		flex-basis: 20vw;
	}
	
	/***** REVIEWS SECTION *****/
	
	.reviews {
		padding: 60px 0 70px 0;
	}
	
	.reviews h3 {
		margin-top: 0;
	}
	
	.reviews .content-wrapper {
	}
	
	.reviews article {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}
	
	.reviews figure {
		width: 47%;
	}
	
	.review-content {
		width: 47%;
	}
	
	/* ===========================
	  ABOUT PAGE - TABLET STYLES
	=========================== */
	
	/***** MISSION SECTION *****/
	
	.mission {
		padding: 100px 0;
	}
	
	/***** GOOGLE MAP *****/
	
	.map figure {
		padding-bottom: 60%;
	}
	
	/***** CONTACT SECTION *****/
	
	.contact-section {
		padding: 100px 0;
	}
	
	/* ===========================
	    FAQ PAGE - TABLET STYLES
	=========================== */
	
	.faq {
		padding: 100px 0;
	}
	.faq-content {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}
	
	.faq-content article {
		display: flex;
		flex-flow: column;
		flex-basis: 38vw;
		margin: 14px 0
	}
	
	.faq-content h3 {
		font-size: 0.88em;
		margin: 0;
	}
	

/* ==========================================================================
   								DESKTOP STYLES
   ========================================================================== */

@media only screen and (min-width: 1200px) {
	
	/* ===================================
	BASE, HEADER, FOOTER - DESKTOP STYLES
	=================================== */
	
	.content-wrapper {
		width: 80vw;
	}
	
	h1 {
		font-size: 3.75em;
	}
	
	h2 {
		font-size: 2.25em;
	}
	
	h3 {
		font-size: 1.88em;
	}
	
	p {
		font-size: 1.13em;
		font-weight: 300;
	}
	
	header .logo img {
	}
	
	header nav ul li {
		font-size: 1.13em;
	}
	
	/* ================================
		HOME PAGE - DESKTOP STYLES
	================================ */
	
	/***** HERO AREA *****/
	
	.hero-area {
		background: url('../img/forest-bridge.jpg') center no-repeat #333;
		background-size: cover;
	}
	
	.headline {
		width: 60vw;
	}
	
	/***** NEWSLETTER SUBSCRIBE *****/
	
	aside .content-wrapper {
		justify-content: space-around;
		padding: 30px 0 50px 0;
	}

	aside .form-description {
		width: 28vw;
	}

	aside .form {
		width: 25vw;
	}
	
	/***** FEATURES SECTION *****/
	
	.features-items {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		width: 70vw;
	}
	
	.features-items article {
		flex-basis: 18vw;
	}
	
	/* ================================
		ABOUT PAGE - DESKTOP STYLES
	================================ */
	
	/***** MISSION SECTION *****/
	
	.mission h2 {
		font-size: 3em;
	}
	
	.mission-content {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}
	
	.mission-content p {
		width: 45%;
	}
	
	/***** GOOGLE MAP *****/
	
	.map figure {
		padding-bottom: 50%;
	}
	
	/***** CONTACT SECTION *****/
	
	.contact-section h2 {
		font-size: 3e;
	}
	.contact-content {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}
	
	.contact-content div {
		width: 45%;
	}
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

